@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
  --font: "Poppins";
  --sleepy-lilla: #9143f5;
}

* {
  position: relative;
  width: 1440px;
  height: 1640px;
  background: #D6D8FF;
}


.main-layout {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10%;
  margin-left: 10%;
  height: 100%;
}

/* menu */

/* menu-container */
.menu-container {
  width: 1300px;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* menu-bar */
.menu-bar {
  width: 1300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 20px;
  position: absolute;
  left: 563px;
  top: 0px;
}

/* nav-btn */
.nav-btn {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;
width: 136px;
height: 60px;
filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
order: 1;
flex-grow: 0;
}

.nav-btn:hover {
  background-color: var(--sleepy-lilla)
  cursor: pointer;
  color: aqua;
}



/* hero */
.hero-container {
  position: absolute;
  width: 1300px;
  height: 700px;
  left: 70px;
  top: 199px;
  
  /* <Victor Mazilescu/> <Creative Portofolio/> */

.h2 { 
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 77.18%;

/* H2 60p */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;
/* or 133% */


/* Dark blue */

color: #2B2D6C;
}

.action-btn {
  height: 30px;
}

h2 {
  margin-bottom: 15px;
  font-family: var(--font);
  font-size: 16px;
  color: white;
  font-weight: lighter;
}

/* footer */

.footer {
  font-family: var(--font);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: flex-start;
}

/* mobile styles */
/* @media only screen and (max-width: 768px) {
  .menu-bar {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
  }

  .nav-btn {
    transform: scale(2);
  }
} */

@media only screen and (max-width: 800px) {
  .menu-bar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-btn {
    width: 100%;
    height: 4vh;
    margin-bottom: 1vh;
    font-size: xxx-large;
    font-weight: bold;
    padding: 0;
  }

  .header-container {
    padding: 0;
    height: 37vh;
  }

  h2 {
    margin-bottom: 15px;
    font-family: var(--font);
    font-size: 35px;
    color: white;
    font-weight: lighter;
  }
}
